/* Book Storage List */

.storage-img{
    width: 35%;
    border-radius: 5%;
}

.storage-title{
    font-family: "Montserrat";
    text-align: center;
}

.storage-quantity{
    font-family: "Montserrat";
}

.storage-price{
    font-family: "Montserrat";
    text-align: center;
}

.storage-action,
.delete-action{
    font-family: "Montserrat";
    border: 1px solid #f5f5f5;
}

.add-btn{
    font-family: "Montserrat";
    border: 1px solid #f5f5f5;
    margin-left: 68%;
    margin-top: 2.75%;
}

/* Book Storage Detail Info */
.bookstorage-container{
    margin-top: 3%;
}


.bookimg{
    display: inline-block;
    width: 40%;
    margin-right: 5%;
}

.bookstorage-img{
    margin-bottom: 18%;
}

.book-basic-info{
    display: inline-block;
    width: 50%;
}

.bookstorage-img{
    width: 50%;
    height: 93%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
}

.upload-btn{
    margin-left: 20%;
}

.storage-form {
    /*display: flex;*/
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
    margin-top: 2.5%;
}

.title-inputs,
.author-inputs,
.publisher-inputs{
    /*display: inline-block;*/
    /*width: 100%;*/
    /*flex: 1;*/
    margin-right: 16px;
}

.storage-tag{
    font-family: "Ubuntu";
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}

.storage-intro-tag{
    display: block;
    font-family: "Ubuntu";
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}

.storage-title,
.storage-author,
.storage-publisher,
.storage-stock,
.storage-price{
    width: 100%;
}

.storage-introduction {
    width: 100%;
}

.user-content{
    font-family: "Montserrat";
}

.user-status{
    font-family: "Montserrat";
}

:where(.css-dev-only-do-not-override-ph9edi).ant-radio-wrapper .ant-radio-checked .ant-radio-inner{
    border-color: grey;
    background-color: grey;
}

.status-alert-content{
    font-family: "Montserrat";
}