.ant-list-split .ant-list-item:last-child{
    margin-bottom: 7.5%;
}

.orderList-description{
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
}

.orderlist-part{
    margin-top: 1%;
    margin-bottom: 2%;
}

.order-title{
    margin-right: 5%;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 10px !important;
    font-family: "Montserrat" !important;
}

.css-wb57ya-MuiFormControl-root-MuiTextField-root{
    border-radius: 10px !important;
    border: 1px solid #f5f5f5 !important;
}

.order-selector,
.ant-select order-selector css-dev-only-do-not-override-ph9edi ant-select-single ant-select-show-arrow{
    font-family: "Montserrat";
    background-color: white;
    margin-right: 3%;
    /*height: 100%;*/
}

:where(.css-dev-only-do-not-override-ph9edi).ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 10px;
    height: 40px;
    padding-top: 4px;
}

.ant-select order-selector css-dev-only-do-not-override-ph9edi ant-select-single ant-select-show-arrow .ant-select-open{
    font-family: "Montserrat";
}

.ant-select-item-option-content{
    font-family: "Montserrat";
}

:where(.css-dev-only-do-not-override-ph9edi).ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    background-color: white;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector{
    border-color: grey;
    border-radius: 10px;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    width: 100%;
}

.time-picker{
    margin-right: 10px;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    font-family: "Montserrat";
}